body {
  position: relative;
  margin: 0;
}

body header {
  position: fixed;
  top: -15px;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ded9d4;
  width: 100%;
}

body header h1 {
  margin: 0;
  padding-top: 15px;
  padding-left: 25px;
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
}

body header nav {
  padding-right: 20px;
  padding-top: 15px;
}

body header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li {
  list-style: none;
  padding: 15px 15px;
}

body header nav ul li a {
  text-decoration: none;
  color: #333333;
  font-family: 'Pangolin', cursive;
}

body main .main-top {
  background-image: url(img/IMG_6529.jpeg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
}

body main .prof {
  margin-top: 50px;
  margin-bottom: 30px;
}

body main .prof .prof-1 {
  text-align: center;
  padding-top: 70px;
}

body main .prof .prof-1 h1 {
  margin: 0;
  color: #444;
  font-size: 50px;
  font-family: 'Pangolin', cursive;
  padding-bottom: 10px;
}

body main .prof .prof-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

body main .prof .prof-flexbox img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  height: 500px;
  margin-right: 40px;
}

body main .prof .prof-flexbox .prof-flexbox-text {
  margin-top: 40px;
}

body main .prof .prof-flexbox .prof-flexbox-text h1 {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 50px;
}

body main .prof .prof-flexbox .prof-flexbox-text h4 {
  font-family: 'Notable', sans-serif;
  font-size: 25px;
}

body main .prof .prof-flexbox .prof-flexbox-text p {
  font-size: 20px;
}

body main .career {
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 130px;
  text-align: center;
}

body main .career h1 {
  padding-bottom: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

body main .career .career-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .career .career-flex-box table {
  border: 3px solid #333333;
  padding: 30px;
  border-radius: 10px;
}

body main .career .career-flex-box table tr th {
  font-size: 30px;
  padding-bottom: 10px;
}

body main .career .career-flex-box table tr td {
  border: 1px solid #333333;
  padding: 20px;
}

body main .career .career-flex-box img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 650px;
  height: 650px;
}

body main .production-record {
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

body main .production-record .production-record-h1 h1 {
  padding-bottom: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

body main .production-record .production-record-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .production-record .production-record-flex-box .production-record-flex-box-1 h1 {
  font-size: 15px;
  color: #696666;
}

body main .production-record .production-record-flex-box .production-record-flex-box-1 img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 300px;
  height: 180px;
}

body main .sns {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 130px;
  margin-top: 50px;
  padding-top: 30px;
}

body main .sns .sns-h1 {
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 90px;
  text-align: center;
}

body main .sns .sns-h1 h1 {
  padding-bottom: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

body main .sns .sns-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .sns .sns-flex-box .sns-twitter a i {
  content: '/f081';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
}

body main .sns .sns-flex-box .sns-facebook i {
  content: '/f082';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
}

body main .sns .sns-flex-box .sns-instagram i {
  content: '/f955';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
}

body main .contact {
  margin-top: 70px;
  padding-top: 130px;
  margin-bottom: 150px;
  text-align: center;
}

body main .contact .contact-h1 h1 {
  padding-bottom: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

body main .contact form input {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #333333;
}

body main .contact form textarea {
  width: 500px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #333333;
}

body main .contact form .form-submit input {
  width: 100px;
  border-radius: 10px;
}

body footer {
  background-color: #ded9d4;
  padding-bottom: 30px;
}

body footer h1 {
  font-family: 'Yellowtail', cursive;
  border-bottom: 1px solid #333333;
  padding-left: 25px;
}

body footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer .footer-nav .footer-nav-1 ul li {
  list-style: none;
  color: #333333;
}

body footer .footer-nav .footer-nav-1 ul li a {
  text-decoration: none;
  color: #333333;
}
/*# sourceMappingURL=style.css.map */
